<% if @application %>
  <h1><%= @application.name %></h1>
  <h4>URL: <%= link_to @application.url, @application.url %></h4>
  <br />

  <%= link_to edit_application_path(@application), class:'hover-green' do %>
  <i class="fal fa-xs fa-pencil"></i>
  <% end %>

  <%= link_to application_path(@application), method: :delete, class:'hover-red' do %>
  <i class="fal fa-xs fa-trash"></i>
  <% end %>
  <br />

  <h3>Events</h3>
  <p><small>Total: <%= @event_count %></small></p>
  <%= render 'events' %>


  <br />
  <div class="bottom-navigation">
    <%= link_to "Back", applications_path, class:'pure-button' %>
  </div>
<% else %>
  <%= render 'notfound' %>
<% end %>
